.jumbotron {
    padding: 100px inherit;
    margin-bottom: 50px;
    border-radius: 0rem;
    /*increase to make rounded rectangle*/
    background-image: url('mount-kinabalu.jpg');
    background-size: cover;
    color: white;
    min-height: 300px;
}

.custom {
    padding: 100px;
    margin-bottom: 10px;
    border-radius: 0.3rem;
    background-color: #6c6c6c;
    background-size: cover;
    color: white;
}

.navbar-nav {
    padding-left: 30px;
}

.navbar-nav>li {
    margin: 8px;
}

.bg-dark {
    transition: 750ms ease;
    /*unit is in ms*/
    background: transparent !important;
}

.bg-dark.scrolled {
    background: #1a1a1a !important;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15) !important;
}

.plain-select:after {
    content: "";
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 50%;
    margin-top: -3px;
    height: 0;
    width: 0;
    border-top: 6px solid #ffffff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    pointer-events: none;
}

.carousel-item img {
    width: auto;
    height: auto;
    margin: auto;
    display: block;
}

.carousel-item {
    height: 760px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon,
.carousel-indicators {
    filter: invert(1);
}